PubkeyAuthentication yes
UsePAM yes
AuthorizedKeysCommand /usr/sbin/kanidm_ssh_authorizedkeys %u
AuthorizedKeysCommandUser nobody

PermitRootLogin no
PermitEmptyPasswords no
GSSAPIAuthentication no
KerberosAuthentication no
