INSTANCE_URL=https://gitea.priv.moyer.wtf
REGISTRATION_TOKEN="{{ gitea_runner_token }}"
RUNNER_NAME=gitea-runner
RUNNER_LABELS=linux:docker://docker.io/node:20-bookworm,docker:docker://docker.io/docker:27-cli