# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Environment Variables and Secrets
.env
.envrc
*.env
secrets.json
*.pem
*.key

# Generated Data
network-configs/dns/external_records.json
*.log
node_modules/
**/downloads
network-configs/downloads/

# OS Files
.DS_Store
Thumbs.db

# Editor Directories
.vscode/
.idea/

network-configs/cache

external_records.json

.vault-password
