# Taskchampion sync server
TASKCHAMPION_SYNC_SERVER_HOSTNAME=taskchampion.example.com
TASKCHAMPION_SYNC_SERVER_CLIENT_ID=your-client-id

# Timewarrior sync server
TIMEW_SYNC_SERVER_HOSTNAME=timew.example.com
