MEALIE_HOME=/opt/mealie
NLTK_DATA=/nltk_data
SECRET={{ mealie_secret }}

DB_ENGINE=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=mealie_user
POSTGRES_PASSWORD=Gq7YutDrFc4lc
POSTGRES_DB=mealie_db

PRODUCTION=true
HOST=0.0.0.0
PORT=9000
BASE_URL=http://192.168.30.3:9000

OIDC_AUTH_ENABLED=true
OIDC_SIGNUP_ENABLED=true
OIDC_PROVIDER_NAME=Kanidm
OIDC_CONFIGURATION_URL=https://kanidm.moyer.wtf/oauth2/openid/mealie/.well-known/openid-configuration
OIDC_CLIENT_ID=mealie
OIDC_CLIENT_SECRET={{ mealie_oidc_secret }}
OIDC_USER_CLAIM=preferred_username
OIDC_NAME_CLAIM=name
OIDC_EMAIL_CLAIM=email
OIDC_GROUPS_CLAIM=groups
OIDC_USER_GROUP=mealie_users@kanidm.moyer.wtf
OIDC_ADMIN_GROUP=mealie_admins@kanidm.moyer.wtf
ALLOW_PASSWORD_LOGIN=false

SMTP_HOST=smtp-relay.mgmt.moyer.wtf
SMTP_PORT=25
SMTP_FROM_NAME=Mealie
SMTP_AUTH_STRATEGY=NONE
SMTP_FROM_EMAIL=noreply@moyer.wtf
