{% for router in (groups[oxidized_router_group | default('routeros')] | default([]) | sort) %}
{{ hostvars[router].host_ip }}:{{ oxidized_model | default('routeros') }}:{{ oxidized_username }}:{{ oxidized_password }}
{% endfor %}
