PubkeyAuthentication yes
UsePAM yes
KbdInteractiveAuthentication yes
AuthorizedKeysCommand /usr/sbin/kanidm_ssh_authorizedkeys %u
AuthorizedKeysCommandUser nobody

PermitEmptyPasswords no
GSSAPIAuthentication no
KerberosAuthentication no
