TZ=America/New_York
IPAM_DATABASE_HOST=phpipam-mariadb
IPAM_DATABASE_PASS="{{ phpipam_password }}"
IPAM_DATABASE_WEBHOST=%
MYSQL_ROOT_PASSWORD="{{ phpipam_mysql_root_password }}"
IPAM_DISABLE_INSTALLER=1
IPAM_TRUST_X_FORWARDED=true
MARIADB_USER=phpipam
MARIADB_PASS="{{ phpipam_password }}"
MARIADB_DATABASE=phpipam
